.0_398 { 
	overflow:hidden;
}
.e0_398 { 
	background-color:rgba(5.000000176951289, 5.000000176951289, 15.000000055879354, 1);
	width:1536px;
	height:1500px;
	position:absolute;
}
.e29_221 { 
	background-color:rgba(19.526230730116367, 19.526230730116367, 42.56640650331974, 1);
	width:310px;
	height:67.4013442993164px;
	position:absolute;
	left:134px;
	top:395px;
	border-top-left-radius:8.42516803741455px;
	border-top-right-radius:8.42516803741455px;
	border-bottom-left-radius:8.42516803741455px;
	border-bottom-right-radius:8.42516803741455px;
}
.e22_2 { 
	color:rgba(255, 255, 255, 1);
	width:259.4490051269531px;
	height:33.7006721496582px;
	position:absolute;
	left:25.275503158569336px;
	top:16.850341796875px;
	font-family:Poppins;
	text-align:center;
	font-size:26.5075740814209px;
	letter-spacing:0;
}
.e11_3 { 
	width:329.7611389160156px;
	height:77px;
	position:absolute;
	left:145px;
	top:82px;
}
.e22_0 { 
	color:rgba(255, 255, 255, 1);
	width:265.8459167480469px;
	height:34.531585693359375px;
	position:absolute;
	left:33.154083251953125px;
	top:4px;
	font-family:Poppins;
	text-align:left;
	font-size:27.1611385345459px;
	letter-spacing:0;
}
.e29_211 { 
	background-color:rgba(19.526230730116367, 19.526230730116367, 42.56640650331974, 1);
	width:310.3671569824219px;
	height:141.64358520507812px;
	position:absolute;
	left:-11px;
	top:94px;
	border-top-left-radius:8.455682754516602px;
	border-top-right-radius:8.455682754516602px;
	border-bottom-left-radius:8.455682754516602px;
	border-bottom-right-radius:8.455682754516602px;
}
.e0_939 { 
	width:259.633056640625px;
	height:107.82086181640625px;
	position:absolute;
	left:25.367046356201172px;
	top:16.911365509033203px;
}
.e0_938 { 
	color:rgba(255, 255, 255, 1);
	width:259.5894470214844px;
	height:48.1634521484375px;
	position:absolute;
	left:0px;
	top:24.77408218383789px;
	font-family:Poppins;
	text-align:center;
	font-size:37.29733657836914px;
	letter-spacing:2.5325801372528076;
}
.e0_940 { 
	color:rgba(255, 255, 255, 1);
	width:234.7127685546875px;
	height:28.978010177612305px;
	position:absolute;
	left:12.207683563232422px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:20.316686630249023px;
	letter-spacing:2.438002586364746;
}
.e0_952 { 
	color:rgba(255, 255, 255, 1);
	width:247px;
	height:26px;
	position:absolute;
	left:12.633056640625px;
	top:81.82086181640625px;
	font-family:Poppins;
	text-align:center;
	font-size:10.5px;
	letter-spacing:1.219001293182373;
}
.e29_206 { 
	width:34.531585693359375px;
	height:34.531585693359375px;
	position:absolute;
	left:-8px;
	top:4px;
	background-image:url(images/circle_cropped_1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_239 { 
	width:329.7611389160156px;
	height:77px;
	position:absolute;
	left:145px;
	top:82px;
}
.e29_240 { 
	color:rgba(255, 255, 255, 1);
	width:265.8459167480469px;
	height:34.531585693359375px;
	position:absolute;
	left:33.154083251953125px;
	top:4px;
	font-family:Poppins;
	text-align:left;
	font-size:27.1611385345459px;
	letter-spacing:0;
}
.e29_241 { 
	background-color:rgba(19.526230730116367, 19.526230730116367, 42.56640650331974, 1);
	width:310.3671569824219px;
	height:141.64358520507812px;
	position:absolute;
	left:-11px;
	top:94px;
	border-top-left-radius:8.455682754516602px;
	border-top-right-radius:8.455682754516602px;
	border-bottom-left-radius:8.455682754516602px;
	border-bottom-right-radius:8.455682754516602px;
}
.e29_242 { 
	width:259.633056640625px;
	height:107.82086181640625px;
	position:absolute;
	left:25.367046356201172px;
	top:16.911365509033203px;
}
.e29_243 { 
	color:rgba(255, 255, 255, 1);
	width:259.5894470214844px;
	height:48.1634521484375px;
	position:absolute;
	left:0px;
	top:24.77408218383789px;
	font-family:Poppins;
	text-align:center;
	font-size:37.29733657836914px;
	letter-spacing:2.5325801372528076;
}
.e29_244 { 
	color:rgba(255, 255, 255, 1);
	width:234.7127685546875px;
	height:28.978010177612305px;
	position:absolute;
	left:12.207683563232422px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:20.316686630249023px;
	letter-spacing:2.438002586364746;
}
.e29_245 { 
	color:rgba(255, 255, 255, 1);
	width:247px;
	height:26px;
	position:absolute;
	left:12.633056640625px;
	top:81.82086181640625px;
	font-family:Poppins;
	text-align:center;
	font-size:10.5px;
	letter-spacing:1.219001293182373;
}
.e29_246 { 
	width:34.531585693359375px;
	height:34.531585693359375px;
	position:absolute;
	left:-8px;
	top:4px;
	background-image:url(images/circle_cropped_1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_231 { 
	background-color:rgba(19.526230730116367, 19.526230730116367, 42.56640650331974, 1);
	width:563px;
	height:81.9861831665039px;
	position:absolute;
	left:137px;
	top:984px;
	border-top-left-radius:8.455682754516602px;
	border-top-right-radius:8.455682754516602px;
	border-bottom-left-radius:8.455682754516602px;
	border-bottom-right-radius:8.455682754516602px;
}
.29_231 { 
	border:1px solid rgba(113.15024480223656, 12.48436689376831, 149.81249392032623, 1);
}
.e29_232 { 
	width:523.633056640625px;
	height:48.1634521484375px;
	position:absolute;
	left:25.367046356201172px;
	top:16.911365509033203px;
}
.e29_233 { 
	color:rgba(255, 255, 255, 1);
	width:523.633056640625px;
	height:48.1634521484375px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:37.29733657836914px;
	letter-spacing:2.5325801372528076;
}
.e30_5 { 
	width:685px;
	height:674.4427490234375px;
	position:absolute;
	left:725px;
	top:40.7515869140625px;
	background-image:url(images/double_big_circle_chart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_6 { 
	background-color:rgba(19.526230730116367, 19.526230730116367, 42.56640650331974, 1);
	width:580px;
	height:220px;
	position:absolute;
	left:134px;
	top:570px;
	border-top-left-radius:7.91262149810791px;
	border-top-right-radius:7.91262149810791px;
	border-bottom-left-radius:7.91262149810791px;
	border-bottom-right-radius:7.91262149810791px;
}
.e13_7 { 
	width:399.5873718261719px;
	height:41.696075439453125px;
	position:absolute;
	left:23.737865447998047px;
	top:15.825241088867188px;
}
.e13_8 { 
	color:rgba(255, 255, 255, 1);
	width:399.5873718261719px;
	height:41.696075439453125px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:left;
	font-size:27.79738426208496px;
	letter-spacing:0.7644280791282654;
	line-height:px;
}
.e13_9 { 
	width:79.12621307373047px;
	height:79.12621307373047px;
	position:absolute;
	left:23.737865447998047px;
	top:59.103851318359375px;
}

.d2_01 {	
	color:rgba(255, 255, 255, 1);
	width:562px;
	height:10px;
	position:absolute;
	left:180px;
	top:500px;
	font-family:Poppins;
	text-align:left;
	font-size:57.418827056884766px;
	letter-spacing:0;
}
.btn {
	margin-top: 15px;
  }

.d3_02{
	width: 400px;
    height:400px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	left:700px;
	bottom:410px;
    margin-top: 1em;
    margin-bottom: 1em; 	
}

.d3_02>div {
    width: 100%;
    height: 100%;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center;
}
.loader {
    border: 8px solid #fc0000; /* Light grey */
    border-top: 8px solid #4534db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.d4_03 {
  
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;	
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	bottom:500px;
	margin: 4px 2px;
	cursor: pointer;
}

.r_1 {
	color:rgba(255, 255, 255, 1);
	width:1000.3201904296875px;
	height:69.1214599609375px;
	position:absolute;
	left:2px;
	bottom:-90.8785400390625px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:3;
}
.e37_0 { 
	color:rgba(255, 255, 255, 1);
	width:1234px;
	height:35px;
	position:absolute;
	left:137px;
	top:1121px;
	font-family:Poppins;
	text-align:left;
	font-size:27.1611385345459px;
	letter-spacing:0;
}